.content{
  margin-top: 20px;
  position: relative;
}

.overlay_card.active{

  visibility: visible;
  opacity: 1;
}

.overlay_card {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute; /* Sit on top of the page content */
    width: calc(100% - 30px); /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    margin-left: auto;
    margin-right: auto;


    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.overlay_card p{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: auto;
  margin-top: auto;
}

.res_img{
  width: 100%;
}

.margin_side{
  padding: 10%
}

.vertical{
  margin-top: auto;
  margin-bottom: auto;
}


#image-preview {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #e3e6e8;
  color: #ecf0f1;
  border-radius: 5px;margin-bottom: 30px;
}
#image-preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;

}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#jpg_meta{
  display: none;
}

#png_meta{
  display: none;
}

#video_meta{
  display: none;
}

#pdf_meta{
  display: none;
}

#mp3_meta{
  display: none;
}

.joschas_overlay {
    width: 20px;
    height: 20px;
    box-shadow: #000000;
    position: absolute;
    top: 7px;
    right: 300px;
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.5));
}

.joschas-image {
    height: 30px;
    width: auto;
    margin-left: 65px;
    margin-right: 5px;
}
