img {width: 100%;}
body{font-family:  'Open Sans', sans-serif!important;}
input{color:#72818c; }
h1{text-align: center;font-family: 'Open Sans', cursive!important;margin-top: 110px;font-size: 30px;}
h2{text-align: center;font-family: 'Montserrat', sans-serif!important;    font-size: 20px;color: #b9b9b9;}
h3{text-align: center;font-family: 'Open Sans', sans-serif!important;    font-size: 23px;color: #fff;}
h4{text-align: center;font-family: 'Montserrat', sans-serif!important;    font-size: 20px;color: #c1d101;}

.overlay{position: absolute;text-align: center;z-index: 11;bottom: 30px;margin-top: 0;color: #fff;font-weight: 600;font-size: 3em;left: 0;right: 0;text-shadow: 2px 2px 0px rgba(0, 0,0, 1);background-color: rgba(0, 0,0, 0.7);padding: 20px 0px;}
.float-right{float: right;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{background-color: #c1d101;color: #fff;font-weight: 500;text-decoration: none;border-radius: 0;}
.nav-pills li {border: 1px solid #c1d101; color: #c1d101;width: 31%;text-align: center;margin-left: 1%!important;margin-right: 1%;color: #fff;text-decoration: none;}
.nav-pills li .active {padding: 20px;border: 1px solid #c1d101;background-color: #c1d101;}
.nav-pills li a {color: #fff;}
.text-left p,.text-left h1,.text-left h2{text-align: left!important;}
.mobile{}
.no-padding{padding: 0;}
.oeffnungszeiten p {color: #b9b9b9;}
.grey {color: #b9b9b9;}
p{text-align: center;}
p.margin{margin-top: 50px;margin-bottom: 80px;}
p.laufschrift{font-size: 18px;}
.light{color: #fff;}
.bigger{font-size: 19px;font-weight: 200;}

.min1{min-height: 270px;}
.min2{min-height: 150px;}

.max-width{max-width: 1100px;}

.dark{background-color: #333;}
.bold{font-weight: 600;}

.margin-top{margin-top: 40px;}
.margin-top2{margin-top: 200px;}

.leistungen p {line-height: 30px;}
.leistungen{margin-top: 20px;margin-bottom: 100px;}
#kontaktformular input:focus , #kontaktformular input:hover{outline: none;}
#kontaktformular input{border:none;border-bottom: 1px solid #c1d101;background-color: transparent;width: 100%;margin-bottom: 20px;color: #fff;}
  #kontaktformular input::-webkit-input-placeholder {color: #fff !important;}
#kontaktformular input:-moz-placeholder { /* Firefox 18- */color: #fff !important;  }
#kontaktformularinput::-moz-placeholder {  /* Firefox 19+ */color: #fff !important;  }
#kontaktformular input:-ms-input-placeholder {  color: #fff !important;  }
#kontaktformular textarea{border: 1px solid #c1d101;background-color: transparent;width: 100%;color: #fff;height: 150px;}
#kontaktformular textarea:focus , #kontaktformular textarea:hover{outline: none;}
#kontaktformular label{color: #fff;font-weight: 200;}
#kontaktformular .senden{color:#c1d101;font-weight: 200; margin-top: 20px;margin-bottom: 100px;border: none;}
#startseiteZ{position: absolute;top:0;}
#map{width: 100%;height: 400px;}

.callbacks_container{margin-top: 91px;position: relative;}

.fa{font-size: 80px!important;color:#c1d101; }
.footer{height: 60px;}
.footer a{color: #fff;}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bg-blue{
  background-color: #72818c;
  color: #fff;
  min-height: 900px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-grey{
  background-color: #72818c;
  color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headline{
  font-size: 50px;
  color:  #72818c;
  text-align: center;
  margin-bottom: 25px;
}
.right{
  text-align: right;
}
.upload{
  width:100%;
}
.trenner{
  color: #fff;
}

.trenner-img{  width: 100%!important;
border: 1px solid #c1d101!important;
text-align: center!important;
margin-bottom: 50px;}

hr.trenner-hl{
  width: 125px!important;
border: 2px solid #1c1d21!important;
text-align: center!important;
}

.top{margin-bottom: 50px;}

hr.trenner-hl-w {width: 125px!important;
border: 2px solid #b9b9b9!important;
text-align: center!important;
margin-bottom: 50px;}

.trenner-leistungen{
  width: 65px!important;
border: 2px solid #5d5a5a!important;
text-align: center!important;
}

.dark-font{color: #5d5a5a;padding-top: 40px;}
.dark-font2{color: #5d5a5a;padding-top: 40px;}
.shadow{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 100px;}
.beige-dark{background-color: #f1edea;min-height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding-left: 0;padding-right: 0;}
.beige-light{background-color: #f9f6f1;min-height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding-left: 0;padding-right: 0;}

.beige-dark2{background-color: #f1edea;min-height: 200px;box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.tag{text-align: center;color: #c1d101;font-weight: 500;}



.del-label > span {
    background: #f1f4ff;
    border: solid 1px #fff;
    display:inline-block;
    width:10px;
    height: 10px;
    border-radius: 30%;
    vertical-align:middle;
    margin-right: 10px;
}

.del-label{margin-left: 10px;
margin-top: 10px;
margin-bottom: 20px;}

.del-label > input[type=checkbox]:checked + span {
    background: #fff;
    box-shadow: inset 0 0 0 10px #286090;
    width:10px;
    height: 10px;
    transition: width 1s, height 1s, box-shadow 1s;
}

.del-label > input[type=checkbox] {
    display: none;
}

.label3-p{
  color: #fff!important;
display: inline;
letter-spacing: 0;
font-weight: 100;
font-size: 36px;
}

.nofloat{
  float: none!important;
}

.navbar-nav{
      float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
  }

  .navbar-default .navbar-nav > .active1 > a,
  .navbar-default .navbar-nav > .active1 > a:hover,
  .navbar-default .navbar-nav > .active1 > a:focus {
    background-color: transparent!important;
    color:#c1d101!important;
  }


.navbar-brand{
  position: absolute;
  width: 270px;
  margin-left:150px!important;
  margin-top: 0;
  padding-top: 0;

}
/*.navbar-brand img{   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}*/

.navbar-nav>li>a {
    padding-left: 25px!important;
    padding-right: 25px!important;
}

.navbar-nav>li{
  cursor: pointer;
}

.navbar-collapse{
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-default{background-color: #fff;}

@media screen and (max-width: 1200px) and (min-width:768px){
.navbar-nav{float: right;}
}

@media screen and (max-width: 900px) and (min-width:768px){

  .navbar-nav>li>a{padding-left: 10px!important;padding-right: 10px!important;}
}

@media screen and (min-width: 769px){
  .mobile{display: none;}
  .desktop{display: block;}

}

@media screen and (max-width: 768px){
  .mobile{display: block;}
  .desktop{display: none;}
  .nav-pills>li{width: 100%;}




}

@media screen and (max-width: 1100px) {
  .navbar-brand{left: 20px;
  margin-left: 0!important;}
}
@media screen and (max-width: 767px) {
  .callbacks_container{margin-top: 0;}
  .navbar-brand{width: 200px;}
  .rslides{margin-top: 87px!important;}
  .navbar-collapse{
      text-align: center!important;}
      .navbar-brand{box-shadow:none;height: auto;position: static!important;float: none!important;margin-left: auto!important;margin-right: auto!important;display: block!important;}
    .navbar-brand img{box-shadow:none;padding: 15px 15px 0 15px;}
    .navbar-header{background-color: #fff;}
    .navbar-default{background-color: #fff;}

}


#image-preview {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #ecf0f1;
  border-radius: 5px;
}
#image-preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;

}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;}


  #nav-icon3{
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #c1d101;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 7px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 17px;
}

#nav-icon3 span:nth-child(4) {
  top: 27px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #fff;border: none;}
.navbar-default .navbar-toggle{border: none;border-color: #fff;}
