img {width: 100%;}
body{font-family:  'Open Sans', sans-serif!important;}
input{color:#72818c; }
h1{text-align: center;font-family: 'Open Sans', cursive!important;margin-top: 100px;}
h2{text-align: center;font-family: 'Montserrat', sans-serif!important;    font-size: 20px;color: #b9b9b9;}
p{text-align: center;}
p.margin{margin-top: 50px;margin-bottom: 80px;}
p.laufschrift{font-size: 18px;}
.light{color: #fff;}

.max-width{max-width: 1100px;}

.dark{background-color: #333;}

.margin-top{margin-top: 40px;}
.margin-top2{margin-top: 200px;}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bg-blue{
  background-color: #72818c;
  color: #fff;
  min-height: 900px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-grey{
  background-color: #72818c;
  color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headline{
  font-size: 50px;
  color:  #72818c;
  text-align: center;
  margin-bottom: 25px;
}
.right{
  text-align: right;
}
.upload{
  width:100%;
}
.trenner{
  color: #fff;
}

hr.trenner-hl{
  width: 125px!important;
border: 2px solid #1c1d21!important;
text-align: center!important;
}


hr.trenner-hl-w {width: 125px!important;
border: 2px solid #b9b9b9!important;
text-align: center!important;}

.del-label > span {
    background: #f1f4ff;
    border: solid 1px #fff;
    display:inline-block;
    width:10px;
    height: 10px;
    border-radius: 30%;
    vertical-align:middle;
    margin-right: 10px;
}

.del-label{margin-left: 10px;
margin-top: 10px;
margin-bottom: 20px;}

.del-label > input[type=checkbox]:checked + span {
    background: #fff;
    box-shadow: inset 0 0 0 10px #286090;
    width:10px;
    height: 10px;
    transition: width 1s, height 1s, box-shadow 1s;
}

.del-label > input[type=checkbox] {
    display: none;
}

.label3-p{
  color: #fff!important;
display: inline;
letter-spacing: 0;
font-weight: 100;
font-size: 36px;
}

.nofloat{
  float: none!important;
}

.navbar-nav{
      float:none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent!important;
    color:#c1d101!important;
  }


.navbar-brand{
  position: absolute;
  width: 150px;
  margin-left:300px!important;
  margin-top: 0;
  padding-top: 0;

}
.navbar-brand img{   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.navbar-nav>li>a {
    padding-left: 25px!important;
    padding-right: 25px!important;
}

.navbar-collapse{
  margin-top: 20px;
  margin-bottom: 20px;
}


#image-preview {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #ecf0f1;
  border-radius: 5px;
}
#image-preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;

}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.top-buffer {
    margin-top:20px;
}
