/* normal */
@font-face {
  font-family:'Open Sans';
  font-style:  normal;
  font-weight: 400;
  src: url('fonts/OpenSans-Regular-webfont.eot');
}
@font-face {
  font-family:'Open Sans';
  font-style:  normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('fonts/OpenSans-Regular-webfont.eot')  format('eot'),
       url('fonts/OpenSans-Regular-webfont.ttf')  format('truetype'),
       url('fonts/OpenSans-Regular-webfont.woff') format('woff');
}
/* bold */
@font-face {
  font-family:'Open Sans';
  font-style:  normal;
  font-weight: 700;
  src: url('fonts/OpenSans-Bold-webfont.eot');
}
@font-face {
  font-family:'Open Sans';
  font-style:  normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('fonts/OpenSans-Bold-webfont.eot')  format('eot'),
       url('fonts/OpenSans-Bold-webfont.ttf')  format('truetype'),
       url('fonts/OpenSans-Bold-webfont.woff') format('woff');
}
/* normal italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/OpenSans-Italic-webfont.eot');
}
@font-face {
  font-family:'Open Sans';
  font-style:  italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('fonts/OpenSans-Italic-webfont.eot')  format('eot'),
       url('fonts/OpenSans-Italic-webfont.ttf')  format('truetype'),
       url('fonts/OpenSans-Italic-webfont.woff') format('woff');
}
/* bold italic */
@font-face {
  font-family:'Open Sans';
  font-style:  italic;
  font-weight: 700;
  src: url('fonts/OpenSans-BoldItalic-webfont.eot');
}
@font-face {
  font-family:'Open Sans';
  font-style:  italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('fonts/OpenSans-BoldItalic-webfont.eot')  format('eot'),
       url('fonts/OpenSans-BoldItalic-webfont.ttf')  format('truetype'),
       url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
}
