label {
  color: white;
  font-size: 36px;
  font-weight: 100;
  padding-bottom: 40px;
  padding-top:40px;
  letter-spacing:3px;
}

p{
  color: white;
  font-size: 36px;
  font-weight: 600;

}

a{
  font-size: 1.8rem;
  color: white!important;
  font-weight: 600;
}

body{
  font-family: "Open Sans"!important;
}

.phoneContainer{

    margin-left: 40px;
    margin-right: 40px;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid white;
}

textarea:focus, input:focus{
    outline: none;
}

.inactiv{
    display: none;
}

.back{
  margin-top: 40px;
  margin-bottom: 40px;

}

.inputs{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.new-post-text{
  width: 100%;
      min-height: 300px;
      font-size: 38px;
      font-weight: 700!important;
      padding: 20px;
      opacity: .7;
      border: transparent;
      margin-top: 10px;
      letter-spacing: 1px;
      margin-bottom: 20px;
}

.inputs h1{
  font-size: 3.5rem;
  font-weight: 100;
  color: #fff;
  letter-spacing: 3px;
  margin-top: 10px;
}

.textInput{
    width: 100%;
    font-size: 3rem;
    color: #057d99;
}

.headlineDiv{
    width: 90%;
    margin: 10em auto;
}

/*Buttons*/
.single-Btn{
    width: 100%;
    margin: 1em auto;

}

.btn-profil{
    background-color: white;
    color:  #057d99;
    font-size: 2.5rem!important;
    font-weight: 700!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    border-color: transparent!important;
    width: 49%;
    margin-bottom: 1em;
}

.btn-orga{
    background-color: white;
    color:  #057d99;
    font-size: 2.5rem!important;
    font-weight: 700!important;
    padding-top: 35px!important;
    padding-bottom: 35px!important;
    border-color: transparent!important;
    width: 49%;
    margin-bottom: 1em;
}

.my-interest{
    border-top-left-radius: 36px!important;
    border-bottom-left-radius: 36px!important;
}

.personal-information{
    border-top-right-radius: 36px!important;
    border-bottom-right-radius: 36px!important;
}

.btn-primary{
  background-color: white!important;
  color:  #057d99!important;
  font-size: 2.5rem!important;
  font-weight: 700!important;
  border-radius: 36px!important;
  padding-top: 40px!important;
  padding-bottom: 40px!important;
  border-color: transparent!important;
}

.btn-secondary{
  background-color: transparent!important;
  color:  #fff!important;
  font-size: 2.5rem!important;
  font-weight: 400!important;
  border-radius: 36px!important;
  padding-top: 40px!important;
  padding-bottom: 40px!important;
  border-color: #fff!important;
  border: 3px solid #fff!important;
}

.btn-cancel-post{
    color: #057d99!important;
    background-color: transparent!important;
    border-color: #057d99!important;
}

.btn-organisation{
    width: auto;
    margin: 1em auto;
    padding: 40px 2rem!important;
}

.btn-save-post{
    color: #f1f4ff!important;
    background-color: #057d99!important;
    border-color: #057d99!important;
}

.btn-add-interest{
    display: grid;
    background-color: transparent;
    border-color: transparent;
}

.index-btn{
  margin-bottom: 0px!important;
  margin-top: 80px;
}

.double-btn{
    width: 40%;
    margin: 1em auto;
}

.btn-birthday{
    width: 100%;
}

.group-margin{
    margin-right: 40px;
    width: 240px;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

/*.btnOnBottom{
    position:relative;
    margin-top:78%;
}
*/
.btn-Dropdown{
    width: 100%;
}

.dropdown{
    width: 100%;
}

.dropdown-Li{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-dropdown{
    width: 100%;
    border-radius: 20px!important;
}

.my-dropdown-item{
    color: #1f7e9a!important;
    font-weight: 400;
    font-size: 40px;
}

/*Pictures*/
.logo{
  padding-bottom: 50px;
  padding-top: 165px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 65%;

}

.uploadDiv{
    margin: 83px auto 0;
}

.profilePictureDiv{

    margin: 0 auto;
}


#profilePic{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profilePicture-after{
    border-radius: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    height: 700px;
}

.profilePicture{
    border-radius: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 300px;
}

.image-upload > input
{
    display: none;
}

.topPadding{
    padding: 3em 0 0;
}

.floatleft{
    float: left;
    letter-spacing: 2px;
    font-size: 2rem;
}

.floatright{
    float: right;
    letter-spacing: 2px;
    font-size: 2rem;
}

.linkDiv{
    width: 90%;
    margin: 0 auto;
}

.marginDropdown{
    margin-top: 43px;
}

.paragraph{
    margin-top: 90px;
    font-weight: 400;
}

.paragraphDiv{
    width: 95%;
    margin: 0 auto;
}


.container-fluid{
  background-color: #12bfc5;
}

.center{
  text-align: center;
}

.marginIndex{
  margin-top: 60px;
  letter-spacing: 2px;
}

.middle{
  margin-left: auto;
  margin-right: auto;
  display: block!important;
}

.event-pic{
    width: 100%;
}

.social{
  width: 65%;
  margin-top: 20px;
}

/* Interests */
.interestDiv{
    border-radius: 20px;
    background-color: #f1f4ff;
    padding: 50px
}

.interestIcon{
    border-radius: 10px;
}

.labelDiv{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.interestLabel{
    width: 100px;
    margin-left: 10px;
    color: #fff;
    padding-bottom: 10px;
}

.interest-Btn{
    margin-top:0;
    margin-bottom:0;
}

.interestBtnDiv{
    width: 100%;
}

.iconRow{
    margin-top: 41px;
}

.interestIconLeft{
    margin-left: 32px;
    margin-bottom: 16px;
}

.labelLeft{
    margin-left: 3em;
    color: #057d99;
}

.interestIconMiddle{
    margin: 0 33px;
    margin-bottom: 16px;
}

.labelMiddle{
    margin-left: 6.2em;
    color: #057d99;
}

.interestIconRight{
    margin-right: 32px;
    margin-bottom: 16px;
}


/* Fortschritt Anzeige */


.dots-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;

}

.dots-active{
  width: 45px;
  height:45px;
  border-radius: 100%;
  background-color: #057d99;
  float: left;
  margin: 40px 15px;

}

  .dots-passiv{
    width: 45px;
    height:45px;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid #fff;
    float: left;
    margin: 40px 15px;
}

.fortschritt{
  border-width: 8px;
  border-color: #057d99;
  margin-left: -10px;
}

.bg1{
  background-image: url("../bilder/bg1.png");
  background-size: cover;
}

.bg2{
  background-image: url("../bilder/bg-login.png");
  background-size: cover;

}

.noscroll{
  height: 100%;
}

.bottom{
  position: absolute;;
  bottom: 10px;
  width:100%;
}


.my-custom-label > span {
    background: #fff;
    border: solid 1px #bbb;
    display:inline-block;
    width:40px;
    height: 40px;
    border-radius: 100%;
    vertical-align:middle;
    margin-right: 40px;
}

.my-custom-label > input[type=radio]:checked + span {
    background: #4c4141;
    box-shadow: inset 0 0 0 10px #fff;
    width:40px;
    height: 40px;
    transition: width 0.1s, height 0.1s, box-shadow 0.5s;

}


.my-custom-label-checkbox > input[type=checkbox]:checked + span {
    background: #4c4141;
    box-shadow: inset 0 0 0 10px #fff;
    width:40px;
    height: 40px;
    transition: width 0.1s, height 0.1s, box-shadow 0.5s;
}

#span1{
  margin-left: 100px;
}

.my-custom-label > input[type=radio] {
    display: none;
}

.my-custom-label-checkbox > input[type=checkbox] {
    width: 40px;
    height: 40px;
    background: #fff!important;
    border: solid 1px #bbb;
    vertical-align:middle;
    margin-right: 40px;
}

/*=================RADIO PROFILE*/

.my-custom-label2 > span {
    background: #f1f4ff;
    border: solid 3px #00b3c5;
    display:inline-block;
    width:60px;
    height: 60px;
    border-radius: 30%;
    vertical-align:middle;
    margin-right: 10px;
}

.my-custom-label2 > input[type=checkbox]:checked + span {
    background: #00b3c5!important;
    box-shadow: inset 0 0 0 10px #f1f4ff;
    width:60px;
    height: 60px;
    transition: width 0.1s, height 0.1s, box-shadow 0.5s;
}

.my-custom-label2 > input[type=checkbox] {
    display: none;
}

.label-p{
  color: #00b3c5!important;
display: inline;
letter-spacing: 0;
font-weight: 100;
font-size: 36px;
}

.my-custom-label3 > span {
    background: #f1f4ff;
    border: solid 3px #00b3c5;
    display:inline-block;
    width:46px;
    height: 46px;
    border-radius: 30%;
    vertical-align:middle;
    margin-right: 10px;
}

.my-custom-label3 > input[type=checkbox]:checked + span {
    background: #4c4141;
    box-shadow: inset 0 0 0 10px #f1f4ff;
    width:46px;
    height: 46px;
    transition: width 0.1s, height 0.1s, box-shadow 0.5s;
}

.my-custom-label3 > input[type=checkbox] {
    display: none;
}

.label3-p{
  color: #fff!important;
display: inline;
letter-spacing: 0;
font-weight: 100;
font-size: 36px;
}

.darker{
  color: #057d99;
  font-weight: 700;
}

/* Menü bottom */

.bottom-menu{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 175px;
  z-index: 11;

}
.col-menu{
  width: 20%;
  float: left;
}

.nav-img{
margin-top: 30px;
}

.nav-img2{
margin-top: 60px;
}

.nav-text{
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

.container-content{
  width: 95%;
}

/*Main Top*/

.main-headline{
  font-size: 65px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 3px;
  margin-top: 50px;

}

.declarationText{
    width: 90%;
    margin: 20px auto;
}

.notification{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
}

.topPadding-declarationText{
    padding-top: 50px;
}

.logo-top{
  width: 100%;
  margin-left: 50px;
  margin-top: 30px;
}

.lupe{
  margin-left: 20px;
  margin-top: 55px;
  width: 42%;
}

.chat-icon{
  margin-right: 50px;
margin-top: 45px;
width: 70%;
}

.complete-icon{
  margin-right: 50px;
margin-top: 37px;
width: 70%;
}

.main-top{
  overflow: hidden;
  background-color:  #00a8c5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 175px;
  box-shadow: 0px -18px 120px black;
  border-bottom: 2px solid #fff;
  z-index: 10;
}

.back-main{
  margin-top: 65px;
  margin-left: 50px;
}
/*==============================================Content*/
.check-icon-gender{
    margin-bottom: 13px;
    margin-left: 200px;
}

.check-icon-noAnswer{
    margin-bottom: 13px;
    margin-left: 270px;
}

.data-policy{
    color: #057d99;
}

/*Content*/
.content{
  padding-top: 250px;
  padding-bottom: 200px;
  margin-left: 40px;
  margin-right: 40px;
}

.post-img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.profile-img{
  margin-top: 20px;
  margin-bottom: -30px;
  width: 100%;
}

.content-headline{
  color: #fff;
font-weight: 100;
font-size: 70px;
letter-spacing: 3px;
line-height: 90px;
}

.padding-content{
  padding: 30px 20px;
}

/*============================================Profile CSS */
.active{
  background-color: #057d99;
  color: #fff;
}

.post-profile{
  width: 100%;
  border-radius: 36px;
  background-color: #f1f4ff;
  margin-bottom: 40px;
}

.post-container{
  padding: 30px 20px;
}

.tag-icon{
  height: 50px;
  margin-right: 15px;
}

.profile-pic{
  width: 25%;
padding: 10px;
}

.profile-tag{
  background-color: #00a8c5;
padding: 20px 21px;
border-radius: 30px;
margin-right: 20px;
color: #fff;
font-weight: 700;
margin-bottom: 10px;
margin-top: 20px;
}

.profile-tag-white{
  background-color: #fff;
  padding: 20px 21px;
  border-radius: 30px;
  margin-right: 20px;
  color: #057d99;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}

.profile-headline{
  font-weight: 100;
  color: #057d99;
  font-size: 36px;
}

.profile-hr{
  border:solid #057d99 1px;

}

.profile-hr2{
  border:solid #057d99 1px;
  margin-top: 30px;
}

.profile-icons-eye{
  margin-left: 60px;
width: 80px;
margin-top: 8px;
}

.profile-icons-erase{
  margin-left: 60px;
  margin-top: 10px;
  margin-right: 10px;
}

.profile-icons-edit{
  margin-left: 60px;
  width: 50px;
  margin-top: 6px;
}

.public-icon{
  margin-left: 10px;
  height: 50px;
  margin-top: 6px;
  margin-right: 30px;
}

.profile-quote{
  font-weight: 400;
font-size: 37px;
color: #00b3c5;
margin-top: 10px;
margin-bottom: 30px;
}

.inactive{
  opacity: 0.2;
}

.crossed{
  margin-top: -4px;
}

.interest-label{
    display: block;
    color: #057d99;
}

.nocolor{
  background-color: transparent;
  border-color: transparent;
}

.white{
  border: 1px solid #fff;
}

.post-first{
  color: #00b3c5;
  margin-top: 18px;
  font-weight: 100;
}

.post-second{
  color: #00b3c5;
  margin-top: -20px;
}

.post-quote{
  color: #00b3c5;
  margin-top: 20px;
}

.resize{
  width: 90%!important;
}

.bgblue{
  background-color: #057d99!important;
  color: #fff!important;
  font-weight: 700!important;
  margin-top: 50px;
  border-color: transparent!important;
}


/*OTHERS CSS*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #00b5c5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #fff;
    padding-top: 350px;
}

.sidenav a {
  padding: 40px 8px 8px 32px;
text-decoration: none;
font-size: 50px;
color: #818181;
display: block;
transition: 0.3s;
font-weight: 100;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
top: 200px;
right: 50px;
font-size: 90px;
margin-left: 50px;
}

.important-a{
  font-weight: 400!important;
}

.unimportant{
  margin-top: 100px;
}
.unimportant-a{
  font-weight: 100!important;
}
#overlay{
  height: 9999px;
  width: 100%;
  background-color: black;
  opacity: 0;
  position: fixed;
  transition: opacity .5s;
  overflow: hidden;
  z-index: 5;
  display: none;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* normal */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;

}



@font-face {
  font-family:'Open Sans';
  font-style:  normal;
  font-weight: 400;
  src: url('fonts/OpenSans-Regular-webfont.eot');
}
@font-face {
  font-family:'Open Sans';
  font-style:  normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('fonts/OpenSans-Regular-webfont.eot')  format('eot'),
       url('fonts/OpenSans-Regular-webfont.ttf')  format('truetype'),
       url('fonts/OpenSans-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}
/* bold */
@font-face {
  font-family:'Open Sans';
  font-style:  normal;
  font-weight: 700;
  src: url('fonts/OpenSans-Bold-webfont.eot');
}
@font-face {
  font-family:'Open Sans';
  font-style:  normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('fonts/OpenSans-Bold-webfont.eot')  format('eot'),
       url('fonts/OpenSans-Bold-webfont.ttf')  format('truetype'),
       url('fonts/OpenSans-Bold-webfont.woff') format('woff');
}
/* normal italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/OpenSans-Italic-webfont.eot');
}
@font-face {
  font-family:'Open Sans';
  font-style:  italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('fonts/OpenSans-Italic-webfont.eot')  format('eot'),
       url('fonts/OpenSans-Italic-webfont.ttf')  format('truetype'),
       url('fonts/OpenSans-Italic-webfont.woff') format('woff');
}
/* bold italic */
@font-face {
  font-family:'Open Sans';
  font-style:  italic;
  font-weight: 700;
  src: url('fonts/OpenSans-BoldItalic-webfont.eot');
}
@font-face {
  font-family:'Open Sans';
  font-style:  italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('fonts/OpenSans-BoldItalic-webfont.eot')  format('eot'),
       url('fonts/OpenSans-BoldItalic-webfont.ttf')  format('truetype'),
       url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
}
